// Colors
$cn1: #ffffff;
$cn2: #858993;
$cn3: #313A65;
$cn4: #151F3F;
$cn5: #0E1835;
$cn6: #06102B;
$cn7: #000000;
$cp1: #9DA4FF;
$cp2: #C4C8FF;
$cp3: #6E77E9;
$cs1: #55FFAD;
$cy1: #FFE34E;
$cy2: #FFF385;